src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd">
    <flow name="mico-composite-order-sapi-main">
        <http:listener config-ref="mico-composite-order-sapi-httpListenerConfig" path="/api/${api.majorVersion}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mico-composite-order-sapi-config"/>
        <error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="37e9c401-e9bd-4556-89a6-6325cbafd115" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="30c8418f-66cf-48bd-86da-7ec7b3fb177d">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="errorDetails"><![CDATA[%dw 2.0
output application/java
---
error.muleMessage.typedValue.errorDetails default []]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<error-handler-plugin:on-error doc:name="Process Error" doc:id="ce8e282e-0472-4467-b955-8c824830a80e" config-ref="Error_Handler_Plugin_Config" badRequestError='#[error.description default "There was an issue with your request message"]' unauthorizedError='#[error.description default "You have issues accessing the system"]' notFoundError='#[error.description default "The API has not been implemented"]' notAcceptableError='#[error.description default "One of the request or parameters is unacceptable"]' timeoutError='#[error.description default "You request to the server has been timed-out"]' unsupportedMediaTypeError='#[error.description default "Media Type not supported"]' tooManyRequestsError='#[error.description default "You have made too many requests to the server"]' serverError='#[error.description default "There is a server issue"]' methodNotAllowedError='#[error.description default "The method has not been implemented"]' connectivityError='#[error.description default "You have issues accessing the system"]'>
					<error-handler-plugin:custom-errors><![CDATA[#[%dw 2.0
output application/java
---
{
	"APP:NOT_FOUND": {
		"errorCode": 404,
		"reason": "UNKNOWN",
		"defaultError": error.detailedDescription default "",
		"errorType": "APP:NOT_FOUND"
	},
	"APP:DUPLICATE_VALUE": {
		"errorCode": 409,
		"reason": "UNKNOWN",
		"defaultError": error.detailedDescription default "",
		"errorType": "APP:DUPLICATE_VALUE"
	},
	"APP:MALFORMED_ID": {
		"errorCode": 409,
		"reason": "UNKNOWN",
		"defaultError": error.detailedDescription default "",
		"errorType": "APP:MALFORMED_ID"
	},
	"APP:BAD_REQUEST": {
		"errorCode": 400,
		"reason": "UNKNOWN",
		"defaultError": error.detailedDescription default "",
		"errorType": "APP:BAD_REQUEST"
	},
	"APP:SERVER": {
		"errorCode": 500,
		"reason": "UNKNOWN",
		"defaultError": error.detailedDescription default "",
		"errorType": "APP:SERVER"
	}
}]]]></error-handler-plugin:custom-errors>
				</error-handler-plugin:on-error>
				<set-variable value="#[attributes.httpStatus]" doc:name="Set httpStatus" doc:id="e42ed09f-d00e-46d0-afac-49d60b13b3f5" variableName="httpStatus" />
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mico-composite-order-sapi-console">
        <http:listener config-ref="mico-composite-order-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mico-composite-order-sapi-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\alive:mico-composite-order-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="26905921-a815-491e-8136-7316e0c92e67" name="getAlive"/>
    </flow>
    <flow name="get:\orders:mico-composite-order-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="fa10add5-82d6-4c53-97d6-ec8490964092" name="getOrders"/>
    </flow>
    <flow name="get:\ready:mico-composite-order-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8e12609a-fc44-4a6e-8588-8286b1731cbd" name="getReady"/>
    </flow>
    <flow name="get:\orders\(poNumber):mico-composite-order-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="f0f0e266-5fd1-4145-9f65-748b6eb94a23" name="getOrdersByPoNumber"/>
    </flow>
    <flow name="post:\orders:application\json:mico-composite-order-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="a0f6437d-9e70-484b-975c-fd51768f687d" name="postOrders"/>
    </flow>
</mule>
