src/main/mule/health.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="getAlive" doc:id="06c08784-87bf-4207-af1b-f2e7a0bc531a" >
		<set-payload value='#[%dw 2.0
output application/json
---
{
  status: "ALIVE"
}]' doc:name="Set Payload" doc:id="e7e40310-6705-4cb3-9793-a39a5736c3fa" />
	</flow>
	<flow name="getReady" doc:id="f3156f70-564f-4378-ae53-bb52756d1c95" >
		<salesforce:query doc:name="Query" doc:id="9f63b674-1f4f-44c4-86d4-0871ee7caa03" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id FROM Order__c WHERE PoNumber__c = 0]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "READY"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</flow>
</mule>
