src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	
	
	<flow name="postOrders" doc:id="330715d5-4129-406b-a445-fc883e0d68a1">
		<ee:transform doc:name="Transform payload to composite object" doc:id="f35b1cb5-c2b3-4723-9e4d-10739c3da391">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

fun items(payload)=
	payload map(item, index)->{
		"method": "POST",
		"url": "/services/data/v49.0/sobjects/Item__c",
		"referenceId": "item" ++ index,
		"body": {
			"ItemId__c": item.id,
			"Category__c": item.category,
			"Quantity__c": item.quantity,
			"Size__c": item.size,
			"Order__c": "@{Order.id}"
			
			
			
		}
		
	}
---
{
	"allOrNone": true,
	"compositeRequest": [
		{
			"method": "POST",
			"url": "/services/data/v49.0/sobjects/Order__c",
			"referenceId":"Order",
			"body": {
				"PoNumber__c": payload.orderData.poNumber,
			 	"SignatureRequired__c": payload.orderData.signatureRequiredFlag,
			 	"ShipInstructions__c": payload.orderData.shipInstructions,
			 	"GiftWrapFlag__c": payload.orderData.giftWrapFlag,
			 	"GiftWrapMessage__c": payload.orderData.giftWrapMessage,
			 	"CurrencyCode__c": payload.orderData.currencyCode,
			 	"SubTotal__c": payload.orderData.subTotal,
			 	"Customer__c": payload.orderData.customerSalesforceId
			}
		}] 
		++
		items(payload.items)
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce-composite:execute-composite-request doc:name="Execute composite request" doc:id="a01d9241-0d56-4b81-b5d2-dfec5dd29aba" config-ref="Salesforce_Composite_Config" />
		<set-variable value="#[payload.compositeResponse[0].body.id]" doc:name="Set Variable" doc:id="321bcdf6-80d1-45f1-aaff-1335a3535258" variableName="id" />
		<set-payload value="#[payload.compositeResponse]" doc:name="Set Payload" doc:id="b8a703b7-9c0b-43a6-a12b-bdc8c6220488" />
		<flow-ref doc:name="validatePost" doc:id="7783da2a-7bdd-4b1f-9967-0631665a90a0" name="validatePost" />
		<ee:transform doc:name="Transform payload to inserted entry id" doc:id="a94e71bc-5314-4735-93bb-f93f98bbab06">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"salesforceId": vars.id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[{
	"Location": "/orders/" ++ vars.id as String
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
	<sub-flow name="validatePost" doc:id="42f06da2-3ebd-4d64-a51f-9cffce9fd6c6" >
		<logger level="INFO" doc:name="Logger" doc:id="3b6078a6-1dc2-412a-abac-6f6ab75c42be" message="#[payload]" />
		<choice doc:name="Choice" doc:id="d6dfb8fb-2a0d-4b36-bc1e-add986019aa6" >
			<when expression="#[payload[0].httpStatusCode != 201]">
				<foreach doc:name="For Each" doc:id="baf4189c-6e19-4ad0-87eb-d4f6b391f3a0">
			<validation:is-true doc:name="Is true" doc:id="87e8f236-414f-4ca6-83ae-60e0a722feb3" config-ref="Validation_Config" expression="#[payload.body[0].errorCode != 'DUPLICATE_VALUE']">
				<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:DUPLICATE_ENTRY" />
			</validation:is-true>
			<validation:is-true doc:name="Is true" doc:id="d325f658-bb44-403b-bd43-c1793caca585" expression="#[payload.body[0].errorCode != 'MALFORMED_ID']">
				<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:MALFORMED_ID" />
			</validation:is-true>
		</foreach>
				<validation:is-true doc:name="Is true" doc:id="86d76806-d866-49d4-88ce-e7e1d41c09e0" config-ref="Validation_Config" expression="#[payload.compositeResponse[0].httpStatusCode == 201]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:BAD_REQUEST" />
		</validation:is-true>
			</when>
		</choice>
	</sub-flow>
	<flow name="getOrders" doc:id="c33b7549-4cff-4f0f-90b0-477395a38111" >
		<set-variable value="#[[]]" doc:name="Set Acumulador" doc:id="349a68a3-2d96-4077-ac32-081980949522" variableName="acumulador"/>
		<logger level="INFO" doc:name="Logger" doc:id="45d06010-b43f-41ee-be53-c510534473a5" />
		<salesforce:query doc:name="Query Order" doc:id="50a1300e-d4cb-43a8-bd6b-ebbd4fda748b" config-ref="Salesforce_Config">
			<error-mapping targetType="APP:SERVER" />
			<salesforce:salesforce-query ><![CDATA[SELECT 	Id, PoNumber__c, SignatureRequired__c, ShipInstructions__c,
		GiftWrapFlag__c, GiftWrapMessage__c,
	 	CurrencyCode__c, SubTotal__c, Customer__c FROM Order__c 
	 	WHERE PoNumber__c >= :initial AND PoNumber__c <= :final]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/json
---
{
	"initial": attributes.queryParams.'initialId' as Number,
	"final": attributes.queryParams.'finalId' as Number
}]]]></salesforce:parameters>
		</salesforce:query>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="89d92a35-c463-49b8-a90c-7bb415c58af7" config-ref="Validation_Config" message="Get orders returned empty!">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NOT_FOUND" />
		</validation:is-not-empty-collection>
		<foreach doc:name="For Each" doc:id="cc497fa1-e189-4ed5-b507-cc4b8778456f" >
			<set-variable value="#[payload.Id]" doc:name="Set id" doc:id="885d3230-a134-401a-8177-0b12106981af" variableName="id"/>
			<ee:transform doc:name="Transform SF Object to JSON" doc:id="d190f8b3-e66b-4ac8-9113-e09ea4eaf501">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
    "poNumber": payload.PoNumber__c,
    "signatureRequiredFlag": payload.SignatureRequired__c,
    "shipInstructions": payload.ShipInstructions__c,
    "giftWrapFlag": payload.GiftWrapFlag__c,
    "giftWrapMessage": payload.GiftWrapMessage__c,
    "currencyCode": payload.CurrencyCode__c,
    "subTotal": payload.SubTotal__c,
    "customerSalesforceId":payload.Customer__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<set-variable value="#[payload]" doc:name="Set Order" doc:id="203cd7fa-a4b8-4793-b2ac-c9c1746edcdd" variableName="order"/>
			<salesforce:query doc:name="Query Items" doc:id="df6f218d-fc12-4ffa-8e85-64ff1034a839" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT ItemId__c, Category__c, Quantity__c, Size__c FROM Item__c WHERE Order__c = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/json
---
{
	"id" : vars.id
}]]]></salesforce:parameters>
		</salesforce:query>
			<ee:transform doc:name="Transform var Accumulator to final result" doc:id="8e33a4cf-da12-44b1-9e83-cc1f062642e0" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="acumulador" ><![CDATA[%dw 2.0
output application/java
---
vars.acumulador + {
	orderData: vars.order,
	items: 
		payload map () -> {
			id: $.ItemId__c,
			category: $.Category__c,
			quantity:$.Quantity__c,
			size: $.Size__c
		}
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Transform body with accumulator">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.acumulador

]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d8cc24ed-7814-4f09-9350-0477459c09aa" message="#[payload]"/>
	</flow>
	<flow name="getOrdersById" doc:id="d9bf5508-d605-4ebd-86bf-0522db9bc942" >
		<logger level="INFO" doc:name="Logger" doc:id="9a92b172-da7f-4eec-aa1b-390246c2dbba" />
		<salesforce:query doc:name="Query" doc:id="b2a020a8-4866-4493-9770-4b4fe4cce56e" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT 	Id, PoNumber__c, SignatureRequired__c, ShipInstructions__c,
		GiftWrapFlag__c, GiftWrapMessage__c,
	 	CurrencyCode__c, SubTotal__c, Customer__c FROM Order__c 
	 	WHERE Id = :id]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	id : attributes.uriParams.'salesforceId'
}]]]></salesforce:parameters>
		</salesforce:query>
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="05e41219-3dbe-4154-9f8d-923c44ce5f39" config-ref="Validation_Config" message="Get orders returned empty!" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NOT_FOUND" />
		</validation:is-not-empty-collection>
		<set-variable value="#[payload.Id]" doc:name="Set id" doc:id="afed773e-467d-4b5d-9022-19519ea3ab52" variableName="id" />
		<ee:transform doc:name="Transform SF Object to JSON" doc:id="3c576256-6e9d-491d-b7e5-658b294c1c2b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    "poNumber": payload.PoNumber__c,
    "signatureRequiredFlag": payload.SignatureRequired__c,
    "shipInstructions": payload.ShipInstructions__c,
    "giftWrapFlag": payload.GiftWrapFlag__c,
    "giftWrapMessage": payload.GiftWrapMessage__c,
    "currencyCode": payload.CurrencyCode__c,
    "subTotal": payload.SubTotal__c,
    "customerSalesforceId":payload.Customer__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set Order" doc:id="95e87d68-e539-4a9f-8214-7c1a29ee430a" variableName="order" />
		<salesforce:query doc:name="Query Items" doc:id="e4c75fa9-adc1-4c3a-bae7-a4446a6a081d" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT ItemId__c, Category__c, Quantity__c, Size__c FROM Item__c WHERE Order__c = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/json
---
{
	"id" : vars.id
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform payload to final result" doc:id="ea83ffbb-f88d-4dc2-8d71-431a59db5f70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	orderData: vars.order,
	items: 
		payload map () -> {
			id: $.ItemId__c,
			category: $.Category__c,
			quantity:$.Quantity__c,
			size: $.Size__c
		}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
